/* Ecran tablette/telephone */

@media(max-width: 1110px)
{



   /* Position boutons choix  */

  #ulBoxes ul
  {
    flex-direction: column;
    display: inline-block;
    position: absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
  }

  #ulBoxes ul li 
  {
    list-style: none;
    margin: 60px 50px;
  }

  /* Description des projets*/

  .description {
    display: block;
    position: absolute;
    top:7%;
    text-align: center;
    margin : 5%;
    width: 90%;
    font-size: 1.7vh;
  }

  .description4 {
    display: block;
    position: absolute;
    top:5%;
    text-align: center;
    margin : 5%;
    width: 90%;
    font-size: 1.7vh;
  }

  /* Position bouton visualisation 3D*/

  .boutonBoitePosition{
    position: absolute;
    top : 97%;
    left : 50%;
    transform: translate(-50%,-50%);
  }

  /* Position/forme images */

  .chair {
    width: 75%;
    height: 27%;
    position: absolute;
    top : 80%;
    left : 50%;
    transform: translate(-50%,-50%);
  }

  .chair3 {
     width: 75%;
    height: 30%;
    position: absolute;
    top : 75%;
    left : 50%;
    transform: translate(-50%,-50%);
  }

  /* Position/forme bouton video */

  .play-btn-bureau
  {
    width: 10%;
    height: 10%;
    position: absolute;
    top : 75%;
    left : 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
  }
  .play-btn-Boite
  {
    width: 10%;
    height: 10%;
    position: absolute;
    top : 75%;
    left : 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
  }

   #titrePrincipal{

  top : 12.5%;
  font-size: 4vh;
  }
  #titreSecondaire{

  top : 2.5%;
  font-size: 3.3vh;
 
}
}



/* Ecran ordinateur */

@media(min-width: 1111px)
{



   /* Position boutons choix */

  #ulBoxes ul
  {
    display: inline-flex;
    position: absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
  }
  #ulBoxes ul li 
  {
    list-style: none;
    margin: 0 15px;
  }

  /* Description des projets*/

  .description {
    margin : 20%;
    width: 50%;
    margin-left: 2%;
    font-size: 22px;
  }
  .description4 {
    margin : 20%;
    width: 50%;
    margin-left: 2%;
    font-size: 22px;
  }


  /* Position bouton visualisation 3D*/

  .boutonBoitePosition{
    position: absolute;
     top : 80%;
    left : 25%;
    transform: translate(-50%,-50%);
  }

  /* Position/forme images */

  .chair {
     width: 40%;
    height: 30%;
    position: absolute;
    top : 55%;
    left : 77%;
    transform: translate(-50%,-70%);

  }
  .chair3 {
     width: 40%;
    height: 40%;
    position: absolute;
    top : 55%;
    left : 77%;
    transform: translate(-50%,-50%);
  }

  /* Position/forme bouton video */

  .play-btn-bureau
  {
    width: 10%;
    height: 10%;
    transform: translate(-50%,-100%);
    position: absolute;
    top : 52.5%;
    left : 77%;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
  }
  .play-btn-Boite
  {
    width: 10%;
    height: 10%;
    transform: translate(-50%,-100%);
    position: absolute;
    top : 52.5%;
    left : 80%;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
  }

   #titrePrincipal{

  top : 12.5%;
  font-size: 40px;
  }
  #titreSecondaire{

  top : 2.5%;
  font-size: 40px;
 
}
}


/*  Base--------------- */

*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

}

/* Police titre */

.section h1{
  display: block;
  position: absolute;
  
  width: 100%;
  text-align: center;
}






/*  Affichage bouton play video */

.boitePosition:hover .play-btn-Boite
{
  opacity: 1;
}

.bureauPos:hover .play-btn-bureau
{
  opacity: 1;
}

/*  Videos parametres*/

.modal-content{
  background : transparent !important;
  border : none;
}
.modal-body{
  transform: translate(-50%);
}

/*  Fond d'écran*/

.s2{
  background : linear-gradient(to left top, #cbcbcb, white );
  z-index: -2;

}
.s3{
   background : linear-gradient(to left top, #cbcbcb, white ); 
}

.s4{
   background : linear-gradient(to left top, #cbcbcb, white ); 
}

.s5{
   background : linear-gradient(to left top, #cbcbcb, white ); 
}


.description4 p{
  margin : 50px 0px;
}


/*  Bouton 3D affichage */

.boutonBoite{

  font-family: Poppins;
  text-transform : uppercase;
  font-size: 1em;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  line-height: 50px;
  text-align: center;
  border : 3px solid black ;
  display: block;
  text-decoration: none;
  margin :100px auto;
  color : black;
  position :relative ;
  overflow: hidden;
  background : transparent;
  transition: .3s;
}

.boutonBoite:before{
  content :'';
  width: 100%;
  height: 100%;
  position: absolute;
  opacity : .5;
  background : #A1A5A6;
  top:-100%;
  left:0;
  z-index:-1 ;
  transition: .3s;
}


.boutonBoite:after{
  content :'';
  width: 100%;
  height: 100%;
  position: absolute;
  background : #41889A;
  top:-100%;
  left:0;
  z-index: -1;
  transition: .3s;
  transition-delay: .2s;
}

.boutonBoite:hover{
  color : white;
  border-radius: 30px;
  transition: 0.5s;
}


.boutonBoite:hover:before{
  top : 0;
}

.boutonBoite:hover:after{
  top : 0;

}


/* Mise en place des boxes de selection 1ere page */

.boxes{
  display : flex;
}

#ulBoxes ul
{
  position: absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
  margin : 0;
  padding : 0;
  z-index: 1;
}

#ulBoxes ul li  a .fa 
{
  font-size: 35px;
  color: #333;
  line-height: 80px;
  transition: 0.5s;
  padding-right: 14px;
}

#ulBoxes ul li a span
{
  padding : 0;
  margin : 0;
  position: absolute;
  top: 30px;
  color : #333;
  letter-spacing: 4px ;
  transition: 0.5s;
} 

#ulBoxes ul li a 
{
  text-decoration: none;
  display : absolute;
  display: block;
  width: 230px;
  height: 80px;
  background: #fff;
  text-align : left;
  padding-left: 20px;
  transform : rotate(-30deg) skewX(25deg) translate(0,0);
  transition : 0.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}

#ulBoxes ul li a:before
{
  content: '';
  position: absolute;
  top : 10px;
  left : -20px;
  height: 100%;
  width: 20px;
  background : #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

#ulBoxes ul li a:after
{
  content: '';
  position: absolute;
  bottom : -20px;
  left : -10px;
  height: 20px;
  width: 100%;
  background : #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

#ulBoxes ul li a:hover
{
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
 }

#ulBoxes ul li:hover .fa
{
  color :white;
}
#ulBoxes ul li:hover span
{
  color :white;
}

#ulBoxes ul li:hover a
{
  background : black;
}

#ulBoxes ul li:hover a:before
{
  background : black;
}
#ulBoxes ul li:hover a:after
{
  background: black;
}



/* Positionnement et animation des boutons de contact et sorti */


.Retourbouton{
  display:block;
  position: absolute;
  top: 8px;
  right : 25px; 
  padding : 25px;
  font-size : 25px;
  color : black;
  text-decoration: none;
}

.Retourbouton:hover, .Retourbouton:focus {
    color : #ff8533;
}
