/* Ecran tablette/telephone */

@media(max-width: 1110px)
{

  /* Position boutons choix ecole */

 #ulBoxes ul
  {
    flex-direction: column;
    display: inline-block;
    position: absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
  }

  #ulBoxes ul li 
  {
    list-style: none;
    margin: 60px 50px;
  }



  /* Taille de l'affichage informations */

  .tailleImage{

    position: absolute;
    top : 53.5%;
    left :50%;
    width: 60vw;
    height: 87.5%;
    transform: translate(-50%,-50%);
  }


  /* Si passage souris sur bouton, montrer informations */

  /* Bac */

  .boutonLocation:hover + #afficheLocationBacPortrait{
    opacity: 1;
    transition: 1s;
  }

  .boutonMatiere:hover + #afficheMatiereBacPortrait{
    opacity: 1;
    transition: 1s;
  }

  /* BTS */

  .boutonMatiere:hover ~ #afficheMatiereBTSPortrait{
    opacity: 1;
    transition: 1s;
  }

  .boutonLocation:hover + #afficheLocationBTSPortrait{
    opacity: 1;
    transition: 1s;
  }
  .boutonProjet:hover + #afficheProjetBTSPortrait{
    opacity: 1;
    transition: 1s;
  }

  /* Prepa */

  .boutonMatiere:hover ~ #afficheMatierePrepaPortrait{
    opacity: 1;
    transition: 1s;
  }

  .boutonLocation:hover + #afficheLocationPrepaPortrait{
    opacity: 1;
    transition: 1s;
  }
  .boutonProjet:hover + #afficheProjetPrepaPortrait{
    opacity: 1;
    transition: 1s;
  }

  /* Mines */

  .boutonMatiere:hover ~ #afficheMatiereMinesPortrait{
    opacity: 1;
    transition: 1s;
  }

  .boutonLocation:hover + #afficheLocationMinesPortrait{
    opacity: 1;
    transition: 1s;
  }
  .boutonProjet:hover + #afficheProjetMinesPortrait{
    opacity: 1;
    transition: 1s;
  }

  /* Support d'informations */

  .containerTotal {
    display: block;
    opacity: 1;
    width: 75vw;
    height: 80vh;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
    border : .2vw solid black;
     position: absolute;
    top : 45%;
    left : 50%;
    transform: translate(-50%,-40%);
    z-index: 2;
    border-radius: 3vw;
    box-shadow: -10px 10px 30px;
    transition : 0.5s;
  }

   #positionVersatile{
    top : 79.5%;
    left : 50%;
  }

  #titrePrincipal{

  top : 12.5%;
  font-size: 4vh;
  }
  #titreSecondaire{

  top : 2.5%;
  font-size: 3vh;
 
}
}


/* Ecran ordinateur */

@media(min-width: 1111px)
{

  /* Position boutons choix ecole */

  #ulBoxes ul
  {
    display: inline-flex;
    position: absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
  }

  #ulBoxes ul li 
  {
    list-style: none;
    margin: 0 15px;
  }


  /* Taille de l'affichage informations */

    .tailleImage{
    position: absolute;
    top : 53.5%;
    left :50%;
    width: 80vw;
    height: 87.5%;
    transform: translate(-50%,-50%);
  }


  /* Si passage souris sur bouton, montrer informations */

  /* Bac */

  .boutonMatiere:hover ~ #afficheMatiereBacPaysage{
    opacity: 1;
    transition: 1s;
  }

  .boutonLocation:hover ~ #afficheLocationBacPaysage{
    opacity: 1;
    transition: 1s;
  }

  /* BTS */

  .boutonMatiere:hover ~ #afficheMatiereBTSPaysage{
    opacity: 1;
    transition: 1s;
  }

  .boutonLocation:hover ~ #afficheLocationBTSPaysage{
    opacity: 1;
    transition: 1s;
  }
  .boutonProjet:hover ~ #afficheProjetBTSPaysage{
    opacity: 1;
    transition: 1s;
  }

  /* Prepa */

  .boutonMatiere:hover ~ #afficheMatierePrepaPaysage{
    opacity: 1;
    transition: 1s;
  }

  .boutonLocation:hover ~ #afficheLocationPrepaPaysage{
    opacity: 1;
    transition: 1s;
  }
  .boutonProjet:hover ~ #afficheProjetPrepaPaysage{
    opacity: 1;
    transition: 1s;
  }

  /* Mines */

  .boutonMatiere:hover ~ #afficheMatiereMinesPaysage{
    opacity: 1;
    transition: 1s;
  }

  .boutonLocation:hover ~ #afficheLocationMinesPaysage{
    opacity: 1;
    transition: 1s;
  }
  .boutonProjet:hover ~ #afficheProjetMinesPaysage{
    opacity: 1;
    transition: 1s;
  }

  /* Support d'informations */

  .containerTotal {
    display: block;
    opacity: 1;
    width: 85vw;
    height: 85%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
    border : .2vw solid black;
     position: absolute;
    top : 45%;
    left : 50%;
    transform: translate(-50%,-40%);
    z-index: 2;
    border-radius: 3vw;
    box-shadow: -10px 10px 30px;
    transition : 0.5s;
  }

   
   #titrePrincipal{

  top : 12.5%;
  font-size: 4vh;
  }
  #titreSecondaire{

  top : 2.5%;
  font-size: 3.3vh;
 
}
}

/* Police titre */

.section h1{
  display: block;
  position: absolute;
  
  width: 100%;
  text-align: center;
}



/* Positionnement des boutons de visualisation */

#boutonPositionLocation{
  position: absolute;
  top:2%;
  left : 5%;
}
#boutonPositionMatiere{
  position: absolute;
  top:2%;
  left : 45%;
}
#boutonPositionProjet{
  position: absolute;
  top:2%;
  left : 85%;
}

/* Boutons de selection d'affichage des informations */

.boutonLocation{
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
    border : .2vw solid black;
    opacity: 0.5;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.5);
    transition : 0.5s;
  }

  .boutonLocation:hover{
    opacity : 1;
    transform: rotate(20deg);
    transition: 0.5s;
    background:black;
    box-shadow: -10px 50px 300px;
    cursor: pointer;
  }

  .boutonLocation:hover .fa{
    color : white;
    transition: 0.5s;
  }

  .boutonLocation .fa{
    font-size: 20px;
    color : black;
    position: relative;
    top : 50%;
    left : 50%;
    transform :translate(-50%,-50%);

  }

  .boutonMatiere{
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
    border : .2vw solid black;
    opacity: 0.5;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.5);
    transition : 0.5s;
  }

  .boutonMatiere:hover{
    opacity : 1;
    transform: rotate(20deg);
    transition: 0.5s;
    background:black;
    box-shadow: -10px 50px 300px;
    cursor: pointer;
  }

  .boutonMatiere:hover .fa{
    color : white;
    transition: 0.5s;
  }

  .boutonMatiere .fa{
    font-size: 20px;
    color : black;
    position: relative;
    top : 50%;
    left : 50%;
    transform :translate(-50%,-50%);

  }

  .boutonProjet{
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
    border : .2vw solid black;
    opacity: 0.5;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.5);
    transition : 0.5s;
  }

  .boutonProjet:hover{
    opacity : 1;
    transform: rotate(20deg);
    transition: 0.5s;
    background:black;
    box-shadow: -10px 50px 300px;
    cursor: pointer;
  }

  .boutonProjet:hover .fa{
    color : white;
    transition: 0.5s;
  }

  .boutonProjet .fa{
    font-size: 20px;
    color : black;
    position: relative;
    top : 50%;
    left : 50%;
    transform :translate(-50%,-50%);

  }


/* Masquage des affiches au début -------------------------- */

/* BAC */

#afficheLocationBacPortrait{
  opacity: 0;
}
#afficheLocationBacPaysage{
  opacity: 0;
}

#afficheMatiereBacPaysage{
  opacity: 0;
}
#afficheMatiereBacPortrait{
  opacity: 0;
}

/* BTS */

#afficheLocationBTSPortrait{
  opacity: 0;
}
#afficheLocationBTSPaysage{
  opacity: 0;
}

#afficheMatiereBTSPaysage{
  opacity: 0;
}
#afficheMatiereBTSPortrait{
  opacity: 0;
}

#afficheProjetBTSPaysage{
  opacity: 0;
}
#afficheProjetBTSPortrait{
  opacity: 0;
}

/* PREPA */

#afficheLocationPrepaPortrait{
  opacity: 0;
}
#afficheLocationPrepaPaysage{
  opacity: 0;
}

#afficheMatierePrepaPaysage{
  opacity: 0;
}
#afficheMatierePrepaPortrait{
  opacity: 0;
}

#afficheProjetPrepaPaysage{
  opacity: 0;
}
#afficheProjetPrepaPortrait{
  opacity: 0;
}

/* MINES */

#afficheLocationMinesPortrait{
  opacity: 0;
}
#afficheLocationMinesPaysage{
  opacity: 0;
}

#afficheMatiereMinesPaysage{
  opacity: 0;
}
#afficheMatiereMinesPortrait{
  opacity: 0;
}

#afficheProjetMinesPaysage{
  opacity: 0;
}
#afficheProjetMinesPortrait{
  opacity: 0;
}


/* -------------------------------------------------------- */



/* Gestion totale */

*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

p{
    font-family: "Arial", sans-serif;
}

/* Fond d'ecran */

.s2{
  background : linear-gradient(to left top, #cbcbcb, white );
}

.s3{
   background : linear-gradient(to left top, #cbcbcb, white ); 
}

.s4{
   background : linear-gradient(to left top, #cbcbcb, white ); 
}

.s5{
   background : linear-gradient(to left top, #cbcbcb, white ); 
}



/* Mise en place des boxes de selection 1ere page */

.boxes{
  display : flex;
}

#ulBoxes ul
{
  position: absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
  margin : 0;
  padding : 0;
  z-index: 1;
}

#ulBoxes ul li  a .fa 
{
  font-size: 35px;
  color: #333;
  line-height: 80px;
  transition: 0.5s;
  padding-right: 14px;
}

#ulBoxes ul li a span
{
  padding : 0;
  margin : 0;
  position: absolute;
  top: 30px;
  color : #333;
  letter-spacing: 4px ;
  transition: 0.5s;


} 

#ulBoxes ul li a 
{
  text-decoration: none;
  display : absolute;
  display: block;
  width: 230px;
  height: 80px;
  background: #fff;
  text-align : left;
  padding-left: 20px;
  transform : rotate(-30deg) skewX(25deg) translate(0,0);
  transition : 0.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}

#ulBoxes ul li a:before
{
  content: '';
  position: absolute;
  top : 10px;
  left : -20px;
  height: 100%;
  width: 20px;
  background : #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

#ulBoxes ul li a:after
{
  content: '';
  position: absolute;
  bottom : -20px;
  left : -10px;
  height: 20px;
  width: 100%;
  background : #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

#ulBoxes ul li a:hover
{
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
 }

#ulBoxes ul li:hover .fa
{
  color :white;
}
#ulBoxes ul li:hover span
{
  color :white;
}

#ulBoxes ul li:hover a
{
  background : black;
}

#ulBoxes ul li:hover a:before
{
  background : black;
}
#ulBoxes ul li:hover a:after
{
  background: black;
}



/* Positionnement et animation des boutons de contact et sorti */



.Retourbouton{
  display:block;
  position: absolute;
  top: 8px;
  right : 25px; 
  padding : 25px;
  font-size : 25px;
  color : black;
  text-decoration: none;
}

.Retourbouton:hover, .Retourbouton:focus {
    color : #ff8533;
}


