/* Ecran tablette/telephone */

@media(max-width: 1110px)
{
  /* Position boutons choix  */

  #ulBoxes ul
  {
    flex-direction: column;
    display: inline-block;
    position: absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
  }

  #ulBoxes ul li 
  {
    list-style: none;
    margin: 60px 50px;
  }


  /*  position et forme containers cartes competences  ----------------------- */

  .container {
    position: absolute;
    height: 250px;
    width: 70vw;
    left: 50%;
    transform: translate(-50%,0%);
    display: flex;
  }

  #cont1{
    top: 10%;
  }

  #cont2{
    top: 40%;
  }

  #cont3{
    top: 70%;
  }

  .card {
    display: flex;
    height: 200%;
    width: 220px;
    border-radius: 10px;
    box-shadow: -1rem 0 1rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }


   /*  intérieur cartes ----------------------- */

  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    width: 100px;
    top: 2%;
    font-size: 2vw;
    left:10%;
  }

  .description {
   color: white;
    font-weight: 300;
    position: absolute;
    width: 80%;
    left: 20px;
    top: 100px;
    font-size: 2.4vw;
  
  }

  .logo{
     position: absolute;
    width: 40px;
    height: 40px;
    left: 75%;
    top: 76px;
    transform: translate(-50%,-50%);
  }

  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 75%;
  }

  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }


   /*  position et espace images ----------------------- */

  .competencesImages{
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 1;
  }

  #soft{
    top : 20%;
    left : 85%;
  }

  #mechanical{
    top : 80%;
    left : 85%;
  }

  #it{
    top : 50%;
    left : 85%;
  }

   /*  cache du texte ordinateur ----------------------- */

  .competencesTexte{
    display: none;
  }


  /* Passions */

 /*  position et espace total boutons et affichage--------------- */

  .containerTotalPassion{
    width: 100%;
  }

  .containerPassion{
    width: 28%;
    position: absolute;
    height: 22%;
    box-shadow: 10px 10px 20px;
    transform: translate(-50%,-50%);
    border-radius: 20px;
  }


  /*  position des boutons --------------- */

  #positionCourse{
    top : 20%;
    left : 15%;
  }

  #positionIngenieur{
    top : 20%;
    left : 50%;
  }
  #positionSport{
    top : 20%;
    left : 85%;
  }

  img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }


  /*  animation: gifs--------------- */

  .static {
  position:absolute;
  background: white;
  }

  .static:hover {
  opacity:0;
  }


 /*  position et forme container explications--------------- */

  #positionContainer{
    top : 65%;
    left : 50%;
    width: 72.5%;
    position: absolute;
    height: 60%;
    border : 3px solid black;
    border-radius: 20px;
    transform: translate(-50%,-50%);
  }

  #positionContainer img{
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  /*  appartition images hover--------------- */

  #positionIngenieur:hover ~ .containerPresentationIngenieur #afficheIngenieurPortrait {
    display: block;
    opacity: 1;
    transition: 1s;

  }
  #positionCourse:hover ~ .containerPresentationCourse #afficheCoursePortrait{
    display: block;
    opacity: 1;
    transition: 1s;
  }
  #positionSport:hover ~ .containerPresentationSport #afficheSportPortrait {
    display: block;
    opacity: 1;
    transition: 1s;
  }
}




/* Ecran ordinateur */

@media(min-width: 1111px)
{
  /* Position boutons choix */

  #ulBoxes ul
  {
    display: inline-flex;
    position: absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
  }

  #ulBoxes ul li 
  {
    list-style: none;
    margin: 0 15px;
  }

  /*  position et forme containers cartes competences  ------------- */

  .container {
    position: absolute;
    height: 250%;
    width: 1000px;
    transform: translate(-50%,0%);
    display: flex;
  }

  #cont1{
    top: 10%;
    left : 45%;
  }

  #cont2{
    top: 40%;
   left: 70%;
  }

  #cont3{
    top: 70%;
    left : 45%;
  }

  .card {
    display: flex;
    height: 27vh;
    width: 200px;
    border-radius: 10px;
    box-shadow: -1rem 0 1rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }


  /*  intérieur cartes ----------------------- */

  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    width: 80px;
    left: 20px;
    top: 2%;
    font-size: 1.8vw;
   
  }

  .description {
    color: white;
    font-weight: 300;
    position: absolute;
    width: 180px;
    left: 20px;
    top: 100px;
    font-size:  1.7vh;
  }

  .logo{
     position: absolute;
    width: 50px;
    height: 50px;
    left: 125px;
    top: 15px;
  }

  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }

  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  .competencesImages{
    display: none;

  }

/* forme texte ordinateur ----------------------- */

  .competencesTexte{
    position: absolute;
    font-weight:bold;
    font-size: 2.5vh;
    transform:  translate(-50%,-50%);
    text-align: center;
    box-shadow: -1rem 0 1rem black;
    border-radius:  28px;
    background-color: #C6C6C6;
  }

  #softTexte{
    top : 17.5%;
    left : 80%;
    border : 3px solid #168E96 ;
    width: 20vh;
  }

  #itTexte{
    top : 50%;
    left : 12.5%;
    border : 3px solid #279616 ;
    width: 20vh;
  }

  #conceptionTexte{
    top : 80%;
    left : 80%;
    border : 3px solid #961616 ;
    width: 20vh;
  }

  /* Passions */

 /*  position et espace total boutons et affichage--------------- */

  .containerTotalPassion{
    width: 100%;
  }

  .containerPassion{
    width: 28%;
    position: absolute;
    height: 22%;
    box-shadow: 10px 10px 20px;
    transform: translate(-50%,-50%);
     border-radius: 20px;
  }


  /*  position des boutons --------------- */

  #positionCourse{
    top : 25%;
    left : 15%;
  }

  #positionIngenieur{
    top : 50%;
    left : 15%;
  }
  #positionSport{
    top : 75%;
    left : 15%;
  }

  img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }


  /*  animation: gifs--------------- */

  .static {
  position:absolute;
  background: white;
  }

  .static:hover {
  opacity:0;
  }


 /*  position et forme container explications--------------- */

  #positionContainer{
    top : 50%;
    left : 62.5%;
    width: 62.5%;
     position: absolute;
     height: 60%;
     border : 3px solid black;
     border-radius: 20px;
     transform: translate(-50%,-50%);
  }

  #positionContainer img{
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  /*  appartition images hover--------------- */

  #positionIngenieur:hover ~ .containerPresentationIngenieur #afficheIngenieurPaysage {
    opacity : 1;
    transition: 1s;
    display: block;

  }
  #positionCourse:hover ~ .containerPresentationCourse #afficheCoursePaysage{
    opacity : 1;
    transition: 1s;
    display: block;
  }
  #positionSport:hover ~ .containerPresentationSport #afficheSportPaysage {
    opacity : 1;
    transition: 1s;
    display: block;
  }
}



 /*  Base--------------- */

body{
  background : linear-gradient(to left top, #cbcbcb, white );
 
}

p{
  font-family: "Arial", sans-serif;
}


  /*  couleurs cartes ----------------------- */
  #card11{
    background-color: #3e5777;
  }
  #card12{
    background-color: #5075a2;
  }
  #card13{
    background-color: #6394cf;
  }
  #card14{
    background-color: #77b5fe;
  }

  #card21{
    background-color: #385231;
  }
  #card22{
    background-color: #4a6e3f;
  }
  #card23{
    background-color: #5b8b4e;
  }
  #card24{
    background-color: #5b8b4e;
  }

  #card31{
    background-color: #793e2f;
  }
  #card32{
    background-color: #a3523d;
  }
  #card33{
    background-color: #d0664b;
  }
  #card34{
    background-color: #d0664b;
  }

  /* ----------------------- */

  .card:not(:first-child) {
      margin-left: -50px;
  }

  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .card:hover ~ .card {
    position: relative;
    left: 80px;
    transition: 0.4s ease-out;
  }


  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }

  /* Barre de niveau ----------------------- */

  .card:hover #bar11 {
    width: 75%;
    transition: 0.4s ease-out;
  }
  .card:hover #bar12 {
    width: 80%;
    transition: 0.4s ease-out;
  }
  .card:hover #bar13 {
    width: 50%;
    transition: 0.4s ease-out;
  }
  .card:hover #bar14 {
    width: 90%;
    transition: 0.4s ease-out;
  }

  .card:hover #bar21 {
    width: 55%;
    transition: 0.4s ease-out;
  }
  .card:hover #bar22 {
    width: 70%;
    transition: 0.4s ease-out;
  }
  .card:hover #bar23 {
    width: 60%;
    transition: 0.4s ease-out;
  }
  .card:hover #bar24 {
    width: 15%;
    transition: 0.4s ease-out;
  }

  .card:hover #bar31 {
    width: 85%;
    transition: 0.4s ease-out;
  }
  .card:hover #bar32 {
    width: 70%;
    transition: 0.4s ease-out;
  }
  .card:hover #bar33 {
    width: 80%;
    transition: 0.4s ease-out;
  }
  .card:hover #bar34 {
    width: 50%;
    transition: 0.4s ease-out;
  }

  /* ----------------------- */

  h1{
    position: absolute;
    width: 100%;
    text-align: center;
    top : 0%;
    font-size: 40px;
     font-family: "Poppins", sans-serif;
  }

  #titrePrincipal{
  top : 12.5%;
  }

  #titreSecondaire{
  top : 0%;
  }

  .s2{
    background : linear-gradient(to left top, #cbcbcb, white );
  }

  .s3{
     background : linear-gradient(to left top, #cbcbcb, white ); 
  }




/*  Cache image ----------------------- */
  #afficheSportPaysage {
  display :none;
  }
  #afficheSportPortrait {
  display :none;
  }
  #afficheIgenieurPaysage {
  display :none;
  }
  #afficheIngenieurPortrait {
  display :none;
  }
  #afficheCoursePaysage {
  display :none;
  }
  #afficheCoursePortrait {
  display :none;
  }



/* Mise en place des boxes de selection 1ere page */

.boxes{
  display : flex;
}

#ulBoxes ul
{
  position: absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
  margin : 0;
  padding : 0;
  z-index: 1;
}

#ulBoxes ul li  a .fa 
{
  font-size: 35px;
  color: #333;
  line-height: 80px;
  transition: 0.5s;
  padding-right: 14px;
}

#ulBoxes ul li a span
{
  padding : 0;
  margin : 0;
  position: absolute;
  top: 30px;
  color : #333;
  letter-spacing: 4px ;
  transition: 0.5s;

} 

#ulBoxes ul li a 
{
  text-decoration: none;
  display : absolute;
  display: block;
  width: 230px;
  height: 80px;
  background: #fff;
  text-align : left;
  padding-left: 20px;
  transform : rotate(-30deg) skewX(25deg) translate(0,0);
  transition : 0.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}

#ulBoxes ul li a:before
{
  content: '';
  position: absolute;
  top : 10px;
  left : -20px;
  height: 100%;
  width: 20px;
  background : #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

#ulBoxes ul li a:after
{
  content: '';
  position: absolute;
  bottom : -20px;
  left : -10px;
  height: 20px;
  width: 100%;
  background : #b1b1b1;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

#ulBoxes ul li a:hover
{
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
 }

#ulBoxes ul li:hover .fa
{
  color :white;
}
#ulBoxes ul li:hover span
{
  color :white;
}

#ulBoxes ul li:hover a
{
  background : black;
}

#ulBoxes ul li:hover a:before
{
  background : black;
}
#ulBoxes ul li:hover a:after
{
  background: black;
}



/* Positionnement et animation des boutons de contact et sorti */


.Retourbouton{
  display:block;
  position: absolute;
  top: 8px;
  right : 25px; 
  padding : 25px;
  font-size : 25px;
  color : black;
  text-decoration: none;
}

.Retourbouton:hover, .Retourbouton:focus {
    color : #ff8533;
}
